/* task-1 */

.timer {
    display: flex;
    gap: 27px;
    margin-left: 156px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.value {
    color: #2E2F42;
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 1.6px;
       
}

.label {
    color: #2E2F42;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
}

.input {
    width: 256px;
        height: 38px;
        border-radius: 4px;
            background: #FFF;
            border: 1px solid #808080;
            margin-bottom: 32px;
            margin-right: 8px;
            margin-top: 36px;
            margin-left: 156px;
            cursor: pointer;
            outline: none;
            color: #2E2F42;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.64px;
                padding-left: 16px;
    
               
}

.input:hover {
    border: 1px solid #000000;
}

.input:active {
    border: 1px solid #4E75FF;
    
}

.input:disabled {
    border: 1px solid #808080;
    background-color: #FAFAFA;
}

.btn {
display: inline-flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
            background: #4E75FF;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.64px;
            cursor: pointer;
           color: #FFFFFF;
            border-radius: 8px;
            border: 1px solid #4E75FF;
            margin-top: 36px;
            margin-bottom: 32px;
               
}

.btn:hover {
    background-color: #6C8CFF;
    border: 1px solid #6C8CFF;
}

.btn:disabled {
    background-color: #989898;
    border: 1px solid #989898;
}



/* task-2 */

.form {
margin-top: 36px;
margin-left: 156px;
}

.delay {
display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
color: #2E2F42;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.64px;

}

.delay-field {
    display: flex;
    width: 346px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #808080;
    outline: none;
    padding-left: 16px;
}

.delay-field:hover {
  border-color: #000000;  
}

.delay-field:focus {
border-color: #4E75FF;
}

.fieldset {
    width: 360px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 0;
    color: #2E2F42;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 48px;
    outline: none;
}

.fieldset:hover {
border-color: #000;
}

.state {
    margin-left: 28px;
}

.radio-input {
    width: 18px;
    height: 18px;
    margin-right: 14px;
    
}

.label-radio {
    display: inline-flex;
    justify-content: center;
}

.btn-create {
    display: flex;
    width: 364px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 8px;
    background: #4E75FF;
    border: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    margin-top: 24px;
}

.btn-create:hover {
    background-color: #6C8CFF;
}



